/model/
/finetune/output_fixed_3.6v6.4/checkpoint-200/
/finetune/output_fixed_3.6v6.4/checkpoint-400/
/finetune/output_fixed_3.6v6.4/checkpoint-600/
/finetune/output_fixed_3.6v6.4/checkpoint-800/
/finetune/output_fixed_3.6v6.4/checkpoint-1000/
/finetune/output_fixed_3.6v6.4/checkpoint-1200/
/finetune/output_fixed_3.6v6.4/checkpoint-1400/
/finetune/output_fixed_3.6v6.4/checkpoint-1600/
/finetune/output_fixed_3.6v6.4/checkpoint-1626/
