/model/
/finetune/output_fixed_3.6v6.4/
/finetune/output_train_6k_with_sentence_myMetric/checkpoint-200/
/finetune/output_train_6k_with_sentence_myMetric/checkpoint-400/
/finetune/output_train_6k_with_sentence_myMetric/checkpoint-800/
/finetune/output_train_6k_with_sentence_myMetric/checkpoint-910/
/finetune/output_train_6k_with_sentence_myMetric/adapter_config.json
/finetune/output_train_6k_with_sentence_myMetric/training_loss.png
/finetune/output_train_6k_with_sentence_myMetric/training_args.bin
/finetune/output_train_6k_with_sentence_myMetric/trainer_state.json
/finetune/output_train_6k_with_sentence_myMetric/trainer_log.jsonl
/finetune/output_train_6k_with_sentence_myMetric/train_results.json
/finetune/output_train_6k_with_sentence_myMetric/tokenizer_config.json
/finetune/output_train_6k_with_sentence_myMetric/tokenizer.json
/finetune/output_train_6k_with_sentence_myMetric/special_tokens_map.json
/finetune/output_train_6k_with_sentence_myMetric/README.md
/finetune/output_train_6k_with_sentence_myMetric/eval_results.json
/finetune/output_train_6k_with_sentence_myMetric/all_results.json
/finetune/output_train_6k_with_sentence_myMetric/adapter_model.safetensors
